.obsidian/*
!.obsidian/snippets
!.obsidian/appearance.json
!.obsidian/app.json
00 Journal/Daily/*
00 Journal/Entries/*
Unordered
10 Project/*
20 Area/*
30 Knowledge/*
Assets/*
Archive/*
.obsidian/snippets/test.css
.trash/*
