.trash/*
.obsidian/Second Brain.code-workspace
.obsidian/snippets/sandbox.css
Templates/Template Sandbox.md
.obsidian/plugins/**/main.js
.obsidian/plugins/**/manifest.json
.obsidian/plugins/**/styles.css
.obsidian/plugins/**/cache.json
.obsidian/plugins/**/histories.json
Scripts/test.js
