.obsidian/*
!.obsidian/snippets
!.obsidian/appearance.json
!.obsidian/app.json
00 Journal/*
10 Project/*
20 Area/*
30 Knowledge/*
40 Personalities/*
50 Glossar/*
60 Dictionary/*
Assets/*
Archive/*
Unordered/*
.obsidian/snippets/test.css
.trash/*
*.jar
!00 Journal/Entries/YYYY-MM-DD Journal.md
!00 Journal/Periodic/Daily/YYYY-MM-DD
!00 Journal/Periodic/Weekly/YYYY-Www
!00 Journal/Periodic/Monthly/YYYY-MM
!00 Journal/Periodic/Yearly/YYYY
