@import url("extended-colorschemes.css");
@import url("../themes/AnuPpuccin/theme.css");

.callout[data-callout="datalog"],
.callout[data-callout="evening"],
.callout[data-callout="log"],
.callout[data-callout="morning"] {
	--callout-icon: none;
	background-color: var(--color-base-20) !important;
	filter: brightness(120%);
	
	border-radius: 10px;
	box-shadow: 8px 8px 16px var(--color-base-00), 
				-4px -4px 10px var(--color-base-25) !important;

	.callout-title {
		color: var(--text-normal);
		padding: 1em;
	}

	.callout-content {
		padding: 0 1.5em 1.5em 1.5em;
	}

	:is(h1, h2, h3, h4, h5, h6, p) {
		padding: 0;
		margin: 0; 
	}

	margin-bottom: 1.5em;
}

.callout[data-callout="morning"] {
	background: linear-gradient(-90deg, var(--color-base-20) 99%, var(--color-orange) 100%);
}

.callout[data-callout="evening"] {
	background: linear-gradient(-90deg, var(--color-base-20) 99%, var(--color-red) 100%);
}

.callout[data-callout="log"] > .callout-content > p {
	margin-bottom: 1em;
}

.callout[data-callout="log"] > .callout-content :last-child {
	margin-bottom: 0;
}

.callout[data-callout="log"][data-callout-metadata*="simple"] {
	.callout-title {
		display: none;
	}
	.callout-content {
		padding: 1.5em
	}
}

.callout[data-callout="button"] {
	--callout-icon: none;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.10);
	background-color: transparent;

	.callout-content {	
		background-color: transparent;

		.internal-link {
			text-decoration: none !important;
			color: rgba(229, 229, 229, 1);
		}
		.internal-link:hover {
			color: rgba(135, 176, 249, 1);
		}

	}


	.callout-content > p {
		font-size: 0.9rem;
		margin: 0.2rem 0;
		color: rgba(255, 255, 255, 0.50);
		width: auto;
	}

	.callout-content > p > strong > a {
		font-size: 1.1rem;
	}

	.callout-title {
		display: none;
	}	
}

