.clean-embed .markdown-embed-content > .markdown-preview-view > .markdown-preview-section > div > h2, .markdown-embed-link, .markdown-embed-title {
	display: none;
}

.clean-embed .markdown-embed {
	border-left: none;
	padding: 0;
}