.neumorphic_button {
	background: #252B33 !important;
	border: none;
	border-radius: 1rem;
	width: 100%;
	height: 2rem;
	color: #fff;
	font-size: 1.15em;
	font-weight: 700;
	letter-spacing: .2rem;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition: .2s ease-in-out;
	box-shadow: -4px -4px 8px #14171b,
				4px 4px 8px #242931 !important;
	overflow: unset !important;
	height: 2.5rem
}
.neumorphic_button:hover {
	opacity: 0.75 !important;
	box-shadow: -6px -6px 10px #14171b,
				6px 6px 10px #242931 !important;
}
.neumorphic_button:active {
	opacity: 1 !important;
	box-shadow: inset 5px 5px 20px #14171b,
				inset -5px -5px 20px #242931 !important;
}

